.cards {
  padding: 20px 0 40px;
  border-bottom: 1px solid #21212166
}

.cards__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 40px 20px;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(min(413px, 100%), 1fr))
}

@media screen and (max-width: 627px) {
  .cards {
    padding: 20px 0;
    max-width: 320px;
  }

  .cards__list {
    row-gap: 20px;
    margin: 0;
    max-width: 320px;
  }
}